@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  flex-grow: 1;
}

body {
  display: block !important;
  background-color: #08171e;
}

.container-nav {
  margin: 0px 32px !important;
  gap: 64px;
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: #00000057 !important;
}

.navbar-brand {
  margin: 0px;
}

a svg {
  margin: 0px 8px;
}

.bubble {
  border-radius: 25px;
  padding: 0px 8px;
  background-color: #00000059;
}

.imgTabla {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.filaEmail {
  max-width: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fefffc;
}

p,
label {
  font-family: "Montserrat", sans-serif;
  color: #fefffc;
}

.kaushan-script {
  font-family: "Kaushan Script", cursive;
  color: #fefffc;
}

.txt-light-customized {
  color: #fefffc;
}

.txt-details-color {
  color: #f0d78d;
}

.bg-color {
  background: #08171e;
}

.bg-light-color {
  background: #fffaed;
}

.txt-bg-color {
  color: #08171e;
}

.txt-gray {
  color: #ccc;
}

.btn-customized {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 3px;
  transition: background 0.3s, color 0.3s, border 0.3s;
  text-decoration: none;
}
.btn-customized:hover {
  background: #f0d78d;
  color: #000;
  border: 1px solid #000;
}
.btn-gold {
  border: 1px solid #f0d78d;
  color: #f0d78d;
}

.btn-customized-2 {
  background: #08171e;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  transition: background 0.3s, text-shadow 0.3s, letter-spacing 0.3s;
  text-decoration: none;
}
.btn-customized-2:hover {
  background: #0d2531;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
}

/* Home page STYLES  */
.top {
  display: flex;
  align-items: end;
  height: 83vh;
  max-height: 50rem;
  background: linear-gradient(0deg, #08171e, rgba(0, 0, 0, 0.2)),
    url("./assets/img/banner.jpg") no-repeat center center;
  background-size: cover;
}

.img-banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.img-banner-container {
  max-height: 18rem;
  max-width: 30rem;
  margin: 0 auto;
  transform: translate(0, 40%);
}

.pt-10-rem {
  padding-top: 10rem;
}

.img-room {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  border-top: 4px solid #f0d78d;
}

.card-customized {
  width: 100%;
  height: 32rem;
}

.img-customized {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.9s;
}

.img-container {
  height: 52%;
  width: 100%;
  overflow: hidden;
}
.img-customized:hover {
  transform: scale(1.3);
}

.icon {
  font-size: 40px;
}

.txt-shadow {
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}
.container-nav {
  gap: 0px;
}

.tituloPrincipal {
  background-image: url("./assets/img/rooms.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px;
  text-align: center;
}

.hrRoom {
  color: #f0d78d;
  border-width: 3px;
}

.service {
  padding: 15px;
  border-left: 2px solid #f0d78d;
  border-right: 2px solid #f0d78d;
  height: 60px;
}

.imgIcon {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.tituloHab {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 25px;
}

.card {
  background: transparent;
  border: 1px solid #d1d7d4;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card-title {
  color: #fefffc;
}

.btnCardRoom {
  background-color: transparent;
  color: #fefffc;
  border: 1px solid #f0d78d;
}

.btnCardRoom:hover {
  background-color: #f0d78d;
  color: #08171e;
  border: 1px solid #d1d7d4;
}

.selectPersonalizado {
  background-color: #f0d78d;
  color: #08171e;
  font-family: "Montserrat", sans-serif;
}

#descripcion {
  resize: none;
}

.tableContainer {
  background: #f0d78d;
  padding: 20px 40px;
  border-radius: 5px;
}

.table-bordered {
  border: 2px solid #d1d7d4;
}

/* LOGIN STYLES  */
.txt-montserrat {
  font-family: "Montserrat", sans-serif;
}

.bg-login {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #fffaed;
  background-image: linear-gradient(90deg, #fffaed 0%, #f1f1ff 100%);
}

.box-login {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 20px;
  background: #fffaed;
}

.icon-login {
  border: 2px solid #555;
  background: inherit;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 25px;
  transition: all 0.3s;
}
.icon-login:hover {
  background: #08171e;
  color: #f0d78d;
  border: 2px solid #f0d78d;
}

.input-customized {
  font-family: "Montserrat", sans-serif;
}
.input-customized:focus {
  outline: 4px solid #ecdaa3;
  border: none;
}

.MuiButtonGroup-root {
  display: flex !important;
  justify-content: space-evenly !important;
}

.bg-right-login {
  background: #08171e;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: borderAnimation;
  animation-duration: 2.6s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes borderAnimation {
  from {
    border-radius: 20px;
  }
  to {
    border-radius: 150px 20px 20px 100px;
  }
}

.footer-Container {
  padding: 0px;
}

.footer-Description {
  width: 30ch;
}

.footer-Container h3 {
  color: #f0d78d;
}

/* DETAILS ROOM STYLES  */
.img-container-detail {
  height: 29rem;
  border: 1px solid #f0d78d;
}

.img-room-detail {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background: #f0d78d;
}

.circle {
  height: 22px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #f0d78d;
}

.room-number {
  position: absolute;
  top: -60px;
  left: 0;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 800;
  font-size: 8rem;
}

.price {
  font-weight: 600;
  color: #f0d78d;
  font-size: 2.7rem;
}

.modal-content {
  background: #08171e;
  color: #fefffc;
}

.btn-close {
  background-color: #fefffc;
}

.modal-body {
  background: #f0d78d;
}
.modal-body p {
  color: #08171e;
}

.calendarContainer {
  background-color: #f0d78d;
  height: 100vh;
}

.rbc-event{
  background: #0d2531 !important;
}

.rbc-calendar {
  border: 1px solid #fffaed;
}

.rbc-off-range-bg {
  background: #fffaed !important;
}

.rbc-toolbar-label {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
}

.rbc-today {
  background: #b0e0e6 !important;
}

.rbc-btn-group button {
  background-color: #0d2531 !important;
  color: #f1f1ff !important;
}

.modal-calendar{
  color: #08171e;
}

@media (min-width: 980px) and (max-width: 1200px) {
  bubble {
    flex: none;
  }
}
.icon-login {
  font-size: 20px;
}
.price {
  font-size: 2.4rem;
}

.footer-Content {
  flex-wrap: wrap;
  justify-content: space-evenly !important;
}

.footer-Content a {
  text-decoration: none;
  color: #d1d7d4;
}
.footer-Content a:hover {
  text-decoration: none;
  color: #8b8b8b;
}

@media (max-width: 992px) {
  .bg-right-login {
    border-radius: 20px;
    animation: none;
  }
  .icon-login {
    font-size: 20px;
  }
  .price {
    font-size: 2.4rem;
  }

  .top {
    align-items: center;
    background: linear-gradient(0deg, #08171e, rgba(0, 0, 0, 0.5)),
      url("./assets/img/banner.jpg") no-repeat center center;
    background-size: cover;
  }
}
