#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  flex-grow: 1;
}

body{
    display: block !important;
}

.container-nav {
  margin: 0px 32px !important;
  gap: 64px;
}

.navbar-brand{
  margin: 0px;
}

a svg {
  margin: 0px 8px;
}

.bubble {
  border-radius: 25px;
  padding: 0px 8px;
  background-color: #00000059;
}

.imgTabla {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.filaEmail {
  max-width: 200px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p, button {
  font-family: 'Montserrat', sans-serif;
}

.kaushan-script {
  font-family: "Kaushan Script", cursive;
}

/* Home page STYLES  */


@media (min-width: 980px) and (max-width: 1200px) {
  bubble {
    flex: none;
  }
}
